/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: 'Rubik Mono One', sans-serif;
}

li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}

/* Utilis */


/* Main */
#navbar {
    position: fixed;
    top: 50px;
    right: 20px;
    text-align: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    background-color: white;
    color: black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 50px;
}